header{
    grid-area: header;
    background-image: $gradient-left;
    background-size: center;
    padding: 1rem;    
    ul {    
        display: flex;  flex-direction: row; 
        justify-content: flex-end;
        font-family: 'Aboreto', cursive;
        list-style-type: none;
        text-align: right;
        text-decoration: none;
        li {
            margin-left: 2rem;
            &:hover{
                margin-top: 3px;    
            }
            a {
                text-decoration: none
            }
        }
    }
}