.body__imagenes{
    background-color: black;

    h1{
        color: white;
        margin-top: 40vh;
        text-align: center;
        height: 50vh;
    }
    .h1__imagenes{
        margin-top: 2vh;
        margin-bottom: 3vh;
        text-align: center;
        height: fit-content;
    }
    .container{
        width: 100vw;
        padding-bottom: 4rem;
        .row{
            border-radius: 7px;
            padding-bottom: 5px;
            .card{
                position:unset ;
                background-color: rgb(0, 0, 0);
                color: white;
                max-height: fit-content;
                img{
                    max-height: 30vh;
                }
                .card-text{
                    font-size: 25px;
                }
                &:hover{
                    background-image: $gradient-left;
                    padding: 1rem;
                }
            }
        }
        
    }
}

@media screen and (max-width: 500px ){
    
    .container{
        .row{
            .card{
                &:hover{
                    background-image: unset !important;
                    padding: none;
                }
            }
        }
    }
}
















