*{
    margin: 0;
    padding: 0;
    font-family: 'Aboreto', cursive !important;
}
body{
    display: grid;
    height: 100%;
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 5vh 92vh 3vh ;
}

.body__principal{
    background-image: url("../assets/imagenes/techno1.jpg") ;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;               
    h1{
        color: white;
        margin-top: 40vh;
        text-align: center;
        height: 50vh;
        font-size: xxx-large;
    }
}