$gradient-right: linear-gradient(to right, rgba(74, 202, 214, 0.534), rgb(35, 4, 41));
$gradient-left: linear-gradient(to left, rgba(74, 202, 214, 0.501), rgb(35, 4, 41));
$gradient-top: linear-gradient(to top, rgba(74, 202, 214, 0.411), rgba(35, 4, 41, 0));

